.register {
    padding: 45px 0;
    width: 350px;
}

.register h4 {
    text-align: left;
    margin-bottom: 4px;
    padding-left: 2px;
}

.register .register-title {
    margin-top: 0;
}

.register .register-message {
    text-align: center;
}

.register #register-error {
    display: none;
    color: #e65757;
    margin-bottom: 10px;
}

.register .auth-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    margin-top: 5px;
    /*border: 2px solid #4ecc71;*/
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
}

.register .auth-input:focus {
    outline: none;
}

.register .auth-submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    margin-top: 5px;
    background: #43cc71;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 8pt 18pt;
}

.register .auth-submit:focus {
    outline: none;
}

.register .auth-register {
    margin-top: 5px;
    padding: 8pt 0;
}