* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3', '游ゴシック', YuGothic, Helvetica, Arial;
    color: #444;
}

a {
    text-decoration: none;
    color: #3aa3e3;
}

.bold {
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*
// Core Elements
*/

.overlay {
    position: absolute;
    z-index: 50;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
}

.header {
    position: fixed;
    z-index: 20;
    top: 0;
    font-size: 18px;
    background: #fff;
    width: 100%;
    padding: 10px 16px;
    border-bottom: 2px solid #ddd;
}

.header .toolbar {
    position: absolute;
    top: 10px;
    right: 15px;
}

.header .toolbar a {
    color: #666;
}

.container {
    height: 100%;
    display: flex;
}

.sidebar {
    padding: 48px 8px 8px;
    width: 180px;
    height: 100%;
    background: #555;
}

@media (max-width: 600px) {
    .sidebar { display: none; }
}

.content {
    padding: 43px 0;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .content .error-bar { padding: 8px 13px !important; }
}

.content .error-bar {
    display: none;
    position: fixed;
    padding: 8px 13px;
    z-index: 21;
    width: 100%;
    padding-right: 180px;
    text-align: center;
    background: #E93F3C;
    font-size: 16px;
    color: #fff;
}

.client {
    /*padding-top: 50px;*/
    padding-bottom: 25px;
}


/*
// Chat Display
*/

.chat-block {
    position: relative;
    z-index: 0;
    padding: 8px 16px;
    background-color: #fff;
}

.chat-block:hover {
    background-color: #fafafa;
}

.chat-block .chat-icon img {
    display: inline-block;
    width: 32px;
    margin-top: 3px;
    border-radius: 4px;
    margin-right: 10px;
    float: left;
}

.chat-block #chat-ts {
    margin-left: 8px;
    font-size: 12px;
    
    color: #aaa;
    cursor: pointer;
}

.chat-block #chat-ts:hover {
    text-decoration: underline;
}

.chat-block #chat-user {
    font-weight: bold;
}

.chat-block #chat-msg {
    display: block;
}


/*
// Status
*/

#status {
    cursor: pointer;
    padding: 1px;
}

.users-status ul {
    margin: 0;
    padding: 5px 10px;
    list-style: none;
}

.users-status #user {}

.users-status #user.user-active {
    color: #000;
}

.users-status #user.user-inactive {
    color: #ddd;
}


/*
// Chat Input
*/

@media (min-width: 600px) {
    .footer {
        padding-left: 180px;
    }
}

.footer {
    position: fixed;
    z-index: 20;
    bottom: 0;
    width: 100%;
}

.footer form {
    padding: 10px;
    background: #fff;
}

.footer form #input-chatmsg {
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
}

.footer form #input-chatmsg:focus {
    border-color: #cdcdcd;
    outline: none;
}

/*
// Emoji Styles
*/

.emoji-sizer {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 18px;
    font-size: 22px;
}

.emoji {
    display: inline-block;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    background: url(../img/sheet-google-64.png);
    background-size: 4100%;
    cursor: text;
}
